/* Fist Nav */
.first-nav {
    background-color: $dark;
    padding: 0.5rem 0;
    position: relative;
    z-index: 2;

    a {
        color: $white;
        font-weight: 500;

        i {
            margin-right: 0.4rem;
            color: $primary;
        }
    }
}

.top-information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    @media (max-width: 1200px) {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: 2px solid $info;
    }

    @media (max-width: 767px) {
        justify-content: center;
    }

    div {
        text-align: center;
        color: $white;

        a,
        p {
            color: $dark;
            font-weight: 600;
            font-size: 20px;
        }
    }
}

.nav-hero {
    width: 100%;
    height: auto;
    position: relative;

    @media (max-width: 1200px) {
        height: auto;
    }

    .hero {
        position: relative;
        width: 100%;

        .hero-content {
            padding: 6rem 0rem 9rem;

            @media (max-width: 1200px) {
                padding: 3rem 0rem 5rem;
            }

            @media (max-width: 576px) {
                padding: 3rem 0.8rem 5rem;

            }
        }


        h1 {
            width: 95%;
            text-transform: capitalize;
            color: $white;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            font-weight: 600;
            font-size: 52px;
            line-height: 60px;
            margin-bottom: 2.5rem;

            span {
                font-size: 45px;
            }

            @media (max-width: 992px) {
                font-size: 45px;
            }

            @media (max-width: 768px) {
                width: 100%;
                padding: 0 0rem;
                font-size: 35px;
                line-height: 45px;

                span {
                    font-size: 35px;
                }
            }

            @media (max-width: 576px) {
                font-size: 35px;
                margin-bottom: 1rem;
                line-height: inherit;

                span {
                    font-size: 33px;
                }
            }
        }

        .hero-info {
            width: 85%;
            font-size: 18px;
            color: $white;
            margin-top: 2rem;
            margin-bottom: 2rem;

            @media (max-width: 576px) {
                margin-top: 0.5rem;
                width: 95%;
            }
        }

        video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
        }

        .hero-img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: -1;
            object-fit: cover;
        }

        &::after {
            position: absolute;
            content: "";
            // background: rgb(28, 1, 1);
            // background: linear-gradient(180deg, #331604f1 1%, #220f03b1 48%); 

            background: linear-gradient(90deg, rgba(7, 44, 64, 1) 0%, rgba(5, 40, 59, 0.7848389355742297) 39%, rgba(2, 29, 43, 0.636775210084033612) 55%);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }

       
    }
}

.nav-hero.inner-page {
    height: auto !important;

    .hero-img {
        filter: brightness(60%)
    }

    @media (max-width: 1200px) {
        height: auto;
        min-height: auto !important;
    }

    .hero-content {
        padding: 3rem 0rem 5rem;

        @media (max-width: 1200px) {
            padding: 3rem 0rem 9rem;
        }

        h1 {
            font-weight: 500;

            span {
                font-size: 30px;
                font-weight: 500;

                @media (max-width: 768px) {
                    font-size: 27px;
                }

                @media (max-width: 576px) {
                    font-size: 24px;
                }
            }
        }
    }
}

// Logos Margue
.marquee-section {
    --space: 2rem;
    // background: linear-gradient(183deg, rgba(51,135,179,1) 0%, rgba(12,91,132,1) 16%, rgba(7,64,94,1) 90%);
    display: grid;
    align-content: center;
    overflow: hidden;
    gap: var(--space);
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 4rem 0 2rem;

    .marquee {
        --duration: 65s;
        --gap: var(--space);
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: 2.4rem;

        .marquee_group {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: var(--gap);
            min-width: 100%;
            animation: scroll var(--duration) linear infinite;

            @keyframes scroll {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(calc(-100% - var(--gap)));
                }
            }

            img {
                max-width: 12rem;
                object-fit: contain;
                mix-blend-mode: multiply;
                filter: grayscale(1);
                max-height: 5rem;

            }
        }
    }
}

// Services

.services {
    .flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .column {
            .img-div {
                position: relative;
                margin-bottom: 1rem;

                img {
                    width: 100%;
                    height: 20rem;
                    object-fit: cover;
                    border-radius: 12px;
                }

                &::after {
                    position: absolute;
                    content: "";
                    background-color: $white;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    right: -0.9rem;
                    bottom: -0.9rem;
                    box-shadow: none
                }

                .icon-div {
                    position: absolute;
                    background-color: $secondary;
                    border-radius: 50%;
                    top: 1rem;
                    left: 1rem;

                    i {
                        color: $white;
                        font-size: 1.8rem;
                        padding: 1rem;
                    }
                }
            }

            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                color: $dark;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: 16px;
                color: $dark;
                font-weight: 400;
                margin-bottom: 0.5rem;
            }

            .read-more {
                color: $secondary;
                font-size: 16px;
                font-weight: 500;
                text-decoration: underline !important;
            }
        }
    }
}


// About Us
.about-us-cta {
    background: linear-gradient(277deg, rgba(51, 135, 179, 1) 0%, rgba(12, 91, 132, 1) 16%, rgba(3, 46, 69, 1) 90%);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(277deg, rgba(51, 135, 179, 1) 0%, rgba(12, 91, 132, 1) 16%, rgba(3, 46, 69, 1) 90%);
        opacity: 0.15;
        z-index: 0;
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
        z-index: 2;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .info-div {
            width: 60%;
            padding: 3rem 0;

            @media (max-width: 1200px) {
                width: 100%;
            }

            .header {
                font-size: 48px;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 1rem;
                color: $white;

                @media (max-width: 576px) {
                    font-size: 36px;
                }
            }

            .info {
                font-size: 17px;
                color: $white;
                font-weight: 400;
                margin-bottom: 1rem;
            }
        }

        .img-div {
            width: 40%;
            display: flex;
            justify-content: center;
            border-radius: 12px;
            position: relative;

            @media (max-width: 1200px) {
             
                display: none;
            }

            .main-img {
                max-height: 450px;
                width: 100%;
                object-fit: contain;
                z-index: 1;

                @media (max-width: 1200px) {
                    width: fit-content;
                    max-width: 100%;
                    margin-right: auto;
                }
            }
        }
    }
}

// What we do
.what-we-do {

    .flex {
        display: flex;
        gap: 2rem;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .heading-side {
            width: 50%;

            @media (max-width: 1200px) {
                width: 100%;
            }
        }

        .items {
            width: 50%;
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            .item {
                width: 100%;
            }

            @media (max-width: 1200px) {
                width: 100%;
            }

            @media (max-width: 576px) {
                flex-direction: column;
            }
        }
    }

    .items-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin-top: 2rem;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .item {
        padding: 1rem 1.4rem;
        border-radius: 12px;
        border: 2px solid $primary;

        .logo-div {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary;
            margin-bottom: 1.5rem;

            i {
                color: $white;
            }
        }

        .title {
            font-size: 22px;
            font-weight: 600;
        }

        .info {
            font-size: 16px;
            margin-bottom: 1rem;
        }

        .pill-btn {
            margin-top: 1rem;

            .icon-div-small {
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                min-height: 2rem;

                i {
                    font-size: 16px;
                }
            }
        }

        .link {
            color: $primary;
            margin-top: 2rem;
            text-decoration: underline !important;
        }
    }
}

// Development process
// .development-process {
//     .main-layout {
//         position: relative;
//         width: 600px; // Adjust the size as needed
//         height: 600px;
//         margin: 0 auto;

//         &::after {
//             content: "";
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             width: 85%;
//             height: 85%;
//             border: 5px solid $primary;
//             border-radius: 50%;
//             opacity: 0.15;
//             z-index: -1;
//         }

//         .circle {
//             position: absolute;
//             width: 6rem; // Increase circle size
//             height: 6rem;
//             border-radius: 50%;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             background-color: white; // Transparent background by default
//             border: 5px solid $primary; // Border outline
//             color: $primary; // Primary color for icons
//             font-size: 2rem; // Increase icon size
//             font-weight: 600;
//             margin-bottom: 1rem;
//             transition: background-color 0.3s, color 0.3s;
//             cursor: pointer;

//             &.active {
//                 background-color: $primary; // Background color when active
//                 color: $white; // Icon color when active
//                 border-color: $primary; // Border color when active
//             }

//             @for $i from 1 through 6 {
//                 &:nth-child(#{$i}) {
//                     top: 50%;
//                     left: 50%;
//                     transform: translate(-50%, -50%) rotate(#{($i - 1) * 60}deg) translate(250px) rotate(-#{($i - 1) * 60}deg);
//                 }

//                 &:nth-child(1) {
//                     // Position the first circle icon at the top
//                     transform: translate(-50%, -50%) rotate(0deg) translate(250px) rotate(0deg);
//                 }
//             }
//         }

//         .description {
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             font-size: 24px;
//             font-weight: bold;
//             color: #333;
//             padding: 20px;
//             border-radius: 10px;
//             display: none; // Hidden by default
//             z-index: 10;
//             width: 200px; // Adjust width as needed
//             text-align: center;
//         }
//     }

//     @media (max-width: 768px) {
//         .main-layout {
//             max-width: 500px;
//             height: 500px;
//         }

//         .circle {
//             width: 80px;
//             height: 80px;

//             i {
//                 font-size: 36px;
//             }

//             @for $i from 1 through 6 {
//                 &:nth-child(#{$i}) {
//                     top: 50%;
//                     left: 50%;
//                     transform: translate(-50%, -50%) rotate(#{($i - 1) * 60}deg) translate(180px) rotate(-#{($i - 1) * 60}deg);
//                 }
//             }
//         }

//         .description {
//             width: 150px; // Adjust width for smaller screens
//             font-size: 18px;
//         }
//     }

//     @media (max-width: 480px) {
//         .main-layout {
//             max-width: 200px;
//             height: 200px;
//         }

//         .circle {
//             width: 60px;
//             height: 60px;

//             i {
//                 font-size: 24px;
//             }

//             @for $i from 1 through 6 {
//                 &:nth-child(#{$i}) {
//                     transform: translate(-50%, -50%) rotate(#{($i - 1) * 60}deg) translate(90px) rotate(-#{($i - 1) * 60}deg);
//                 }
//             }
//         }

//         .description {
//             width: 120px; // Adjust width for mobile screens
//             font-size: 14px;
//         }
//     }
// }

// Development process
.development-process {
    .main-layout {
        position: relative;
        width: 600px; // Responsive width
        height: 600px; // Responsive height (aspect ratio 1:1)
        max-width: 600px; // Max width for larger screens
        max-height: 600px; // Max height for larger screens
        margin: 0 auto;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 85%;
            height: 85%;
            border: 5px solid $primary;
            border-radius: 50%;
            opacity: 0.15;
            z-index: -1;
        }

        .circle {
            position: absolute;
            width: 6rem; // Default size
            height: 6rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white; // Transparent background by default
            border: 5px solid $primary; // Border outline
            color: $primary; // Primary color for icons
            font-size: 2rem; // Default icon size
            font-weight: 600;
            margin-bottom: 1rem;
            transition: background-color 0.3s, color 0.3s;
            cursor: pointer;

            &.active {
                background-color: $primary; // Background color when active
                color: $white; // Icon color when active
                border-color: $primary; // Border color when active
            }

            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(#{($i - 1) * 60}deg) translate(250px) rotate(-#{($i - 1) * 60}deg);
                }

                &:nth-child(1) {
                    // Position the first circle icon at the top
                    transform: translate(-50%, -50%) rotate(0deg) translate(250px) rotate(0deg);
                }
            }
        }

        .description {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem; // Responsive font size
            font-weight: bold;
            color: #333;
            padding: 1rem; // Adjust padding for responsiveness
            border-radius: 10px;
            display: none; // Hidden by default
            z-index: 10;
            width: 70%; // Responsive width
            max-width: 300px; // Max width for larger screens
            text-align: center;
        }
    }

    @media (max-width: 768px) {
        .main-layout {
            width: 500px; // Adjust for medium screens
            height: 500px; // Maintain aspect ratio

            &::after {
                width: 90%;
                height: 90%;
            }

            .circle {
                width: 4rem; // Smaller circle size for medium screens
                height: 4rem;
                font-size: 1.5rem; // Smaller icon size for medium screens

                @for $i from 1 through 6 {
                    &:nth-child(#{$i}) {
                        transform: translate(-50%, -50%) rotate(#{($i - 1) * 60}deg) translate(220px) rotate(-#{($i - 1) * 60}deg); // Adjust size
                    }
                }
            }

            .description {
                font-size: 1.2rem; // Adjust font size for smaller screens
                padding: 0.8rem; // Adjust padding
                width: 80%; // Responsive width
                max-width: 250px; // Max width for smaller screens
            }
        }
    }

    @media (max-width: 576px) {
        .main-layout {
            width: 350px; // Adjust for medium screens
            height: 350px; // Maintain aspect ratio

            &::after {
                width: 90%;
                height: 90%;
            }

            .circle {
                width: 3rem; // Even smaller circle size for smaller screens
                height: 3rem;
                font-size: 1rem; // Even smaller icon size

                @for $i from 1 through 6 {
                    &:nth-child(#{$i}) {
                        transform: translate(-50%, -50%) rotate(#{($i - 1) * 60}deg) translate(160px) rotate(-#{($i - 1) * 60}deg); // Adjust size
                    }
                }
            }

            .description {
                font-size: 1rem; // Adjust font size
                padding: 0.5rem; // Adjust padding
                width: 90%; // Responsive width
                max-width: 200px; // Max width for smaller screens
            }
        }
    }

    @media (max-width: 386px) {
        .main-layout {
            width: 220px; // Adjust for medium screens
            height: 220px; // Maintain aspect ratio

            &::after {
                width: 90%;
                height: 90%;
            }

            .circle {
                width: 3rem; // Even smaller circle size for smaller screens
                height: 3rem;
                font-size: 1rem; // Even smaller icon size

                @for $i from 1 through 6 {
                    &:nth-child(#{$i}) {
                        transform: translate(-50%, -50%) rotate(#{($i - 1) * 60}deg) translate(100px) rotate(-#{($i - 1) * 60}deg); // Adjust size
                    }
                }
            }

            .description {
                font-size: 1rem; // Adjust font size
                padding: 0.5rem; // Adjust padding
                width: 80%; // Responsive width
                max-width: 200px; // Max width for smaller screens
            }
        }
    }
}


.roadmap {
    .flex {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0.3rem;
            height: 100%;
            background-color: $primary;
            opacity: 0.15;
            z-index: -1;

            @media (max-width: 992px) {
                display: none;
            }
        }

        .item {
            display: flex;
            gap: 8rem;
            align-items: stretch;
            position: relative;

            .circle {
                position: absolute;
                background-color: $primary;
                width: 5rem;
                height: 5rem;
                color: $white;
                font-size: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                top: 2rem;
                left: 50%;
                transform: translate(-50%, -50%);

                @media (max-width: 992px) {
                    left: 0;
                    background-color: $secondary;
                }

                @media (max-width: 576px) {
                   display: none;
                }
            }
            

            .img-div {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1 1 auto;

                @media (max-width: 992px) {
                    display: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                }
            }

            .info-div {
                flex: 2 1 auto;
                padding: 40px;
                background-color: $primary;
                color: $white;
                width: 50%;
                border-radius: 12px;

                @media (max-width: 992px) {
                    width: 80%;
                }

                h4 {
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 1rem
                }

                @media (max-width: 576px) {
                    padding: 30px 15px;
                }
            }

            &:nth-of-type(odd) {
                flex-direction: row-reverse;

                @media (max-width: 992px) {
                    flex-direction: row;
                }
            }
        }


    }
}




// Our Expertise
.our-expertise {
    padding: 5rem 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/texture-1.png');
        opacity: 0.1;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(51, 135, 179);
        background: linear-gradient(277deg, rgba(51, 135, 179, 1) 0%, rgba(12, 91, 132, 1) 16%, rgba(3, 46, 69, 1) 90%);
        z-index: -2;
    }

    .header {
        font-size: 45px;
    }

    ::-webkit-scrollbar {
        height: 0px;
        opacity: 0.0;
    }

    .expertise-navs {
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow-x: scroll;

        @media (max-width: 768px) {
            width: 100%;
        }

        .active {
            z-index: 2;
            position: relative;
            transition: all ease 0.8s;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                background-color: $secondary;
                z-index: 1;
                bottom: 0;
                transition: all ease 0.8s;
            }
        }

        li {
            list-style-type: none !important;
            width: 25%;
            position: relative;
            padding: 0 0.3rem;

            @media (max-width: 992px) {
                width: 35%;
                min-width: 35%;
            }

            @media (max-width: 576px) {
                width: 47%;
                min-width: 47%;
            }

            @media (max-width: 450px) {
                width: 100%;
                min-width: 100%;
            }

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                background-color: $white;
                z-index: 0;
                bottom: 0;
                left: 0;
            }

            .flex {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding-bottom: 1rem;

                .img-div {
                    width: 4.5rem;

                    @media (max-width: 576px) {
                        width: 4rem;
                    }

                    img {
                        width: 100%;
                    }
                }

                .heading-div {
                    .heading {
                        font-size: 23px;
                        text-align: center;
                        color: $white;

                        @media (min-width: 1440px) {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            margin-top: 2rem;

            .flex {
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                align-items: center;

                @media (max-width: 1200px) {
                    flex-direction: column;

                }

                .info-div {
                    width: 50%;

                    @media (max-width: 1200px) {
                        width: 100%;
                    }

                    .heading {
                        font-size: 36px;
                        font-weight: 600;
                        color: $white;
                        margin-bottom: 1rem;

                        @media (min-width: 1440px) {
                            font-weight: 40px;
                        }
                    }

                    .info {
                        font-size: 18px;
                        color: $white;
                        margin-bottom: 2rem;
                    }

                    ul {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        row-gap: 0.5rem;
                        margin-bottom: 2rem;
                        margin-left: 0;
                        padding-left: 0.2rem;

                        @media (max-width: 576px) {
                            grid-template-columns: repeat(1, 1fr);
                        }

                        li {
                            color: $white;
                            list-style-type: none;
                            font-size: 18px;
                            display: flex;
                            align-items: top;

                            i {
                                color: $secondary;
                                margin-right: 0.5rem;
                                padding-top: 4px;
                            }
                        }
                    }
                }

                .img-div {
                    width: 50%;

                    @media (max-width: 1200px) {
                        width: 100%;
                        margin-top: 1rem;
                    }

                    img {
                        height: 450px;
                        object-fit: cover;
                        width: 100%;
                        border-radius: 12px;

                        @media (max-width: 1200px) {
                            height: 100%;
                            max-height: 450px;
                        }
                    }
                }
            }
        }
    }
}


// Social Media Ratings
.ratings-div {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .1);

    .ratings-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.5rem;
        border-radius: 8px;
        width: 65%;
        // margin-bottom: 3rem;

        @media (max-width:992px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2.2rem;
        }

        @media (max-width:576px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 2.2rem;
            width: 90%;
        }

        .ratings-card {
            border: none;
            border-radius: 12px;
            margin-bottom: 10px;
            padding: 1.5rem 1rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            // background: rgba(255, 255, 255, 0.59);
            // border-radius: 16px;
            // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            // backdrop-filter: blur(5px);
            // -webkit-backdrop-filter: blur(5px);
            // border: 1px solid rgba(255, 255, 255, 0.3);
            transition: all 0.5s;

            &:hover {
                background-color: $white;
            }

            img {
                width: 70px;
                height: 70px;
                margin-bottom: 1rem;
            }

            h4 {
                font-size: 1.20rem;
                font-weight: 500;
            }

            .info {
                line-height: 24px;
                color: #504e4b;
            }

            .ratings {
                font-size: .85rem;
                line-height: 24px;
                color: #FF9529;
                margin-top: 0.5rem;

                i {
                    font-size: 20px;
                }
            }
        }
    }
}

// Maps
.maps {
    .flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }

        a {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: auto;
                margin: 0 auto;
                max-height: 15rem;
                object-fit: contain;
            }

            p {
                width: 100%;
                font-size: 26px;
                font-weight: 600;
            }
        }
    }
}

// Text CTA
.text-cta {
    .first-header {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        color: $primary;
    }

    .second-header {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        color: $dark;

    }
}

.text-cta.dark{
    background-color: #0c5a84cb;
    padding: 3rem 0;
    position: relative;

    .bg-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(40%);
    }

    color: $white;

    .first-header {
        color: $secondary;
    }

    .second-header {
        color: $white;
    }
}

// Step Process
// .step-process-white.step-process{

// }
.step-process {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3rem 0;
    color: $white;
    position: relative;
    // color: $white;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(40%);
    }

    .info-div {
        text-align: center;
        margin-bottom: 3rem;

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.1rem;
            color: #504e4b;
        }
    }



    .steps-side {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .step {
            display: flex;
            gap: 2rem;
            margin-bottom: 2rem;

            .number {
                background-color: $white;
                width: 60px !important;
                min-width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                p {
                    font-size: 2rem;
                    font-weight: 600;
                    color: $primary;
                }
            }

            .step-info {
                .header {
                    font-size: 1.7rem;
                    margin-bottom: 0.6rem;
                }
            }
        }
    }
}


// Services List
.services-list.services-list-dark {
    position: relative;
    padding: 4rem 0;
    color: $white;

    ::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url("../img/magicpattern-mesh-gradient.png") no-repeat center center/cover;
        filter: blur(2px) brightness(40%);
        padding: 4rem 0 !important;
    }
}

.services-list {
    .grid {
        background-color: $dark;
        padding: 2rem;
        border-radius: 12px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .service {
            padding: 1rem 1.5rem;
            border-radius: 12px;
            display: flex;
            gap: 1rem;

            .icon {
                i {
                    font-size: 2rem;
                    color: $primary;
                }
            }

            .name {
                h3 {
                    font-weight: 600;
                    font-size: 22px;
                    color: $white;
                }
            }
        }
    }
}

// Testimonials
.testimonials {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 3rem 0;
    position: relative;

    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }

    .testimonial-slider {
        .column {
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding: 2rem 1.6rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 12px;
            background-color: $white;

            .quote {
                width: 4rem;
            }

            .data {
                margin: 1.5rem 0;
                color: #1b1b1b;
            }

            .user-info {
                display: flex;
                align-items: center;

                .user-details {
                    padding-left: 1rem;

                    .name {
                        font-weight: 500;
                        font-size: 20px;
                        color: $secondary;
                    }

                    .address {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}


// About us
.about-us-dark {
    position: relative;
    padding: 4rem 0;
    color: $white;

    ::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(263deg, rgba(51, 135, 179, 1) 0%, rgba(12, 91, 132, 1) 46%, rgba(7, 64, 94, 1) 65%);
        filter: blur(1px) brightness(50%);
        padding: 4rem 0 !important;
    }

    .info-div {
        ul {
            li::before {
                content: "\f058";
                color: $secondary !important;
                font-size: 1.4rem;
                font-family: "Font Awesome 5 Free";
                padding: 0 6px 0 0;
            }
        }
    }
}


.about-us {
    padding-bottom: 3rem;

    .opposite {
        flex-direction: row-reverse;

        .img-div {
            &::after {
                right: inherit;
                left: -2rem;
                bottom: -2rem;
            }
        }
    }

    .about-us-flex {
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        .info-div {
            width: 48%;

            @media (max-width: 992px) {
                width: 100%;
                margin-bottom: 2rem;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                list-style-type: none;
                padding-left: 0;

                @media (max-width: 430px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            li::before {
                content: "\f058";
                color: $primary;
                font-size: 1.4rem;
                font-family: "Font Awesome 5 Free";
                padding: 0 6px 0 0;
            }
        }

        .img-div {
            width: 48%;
            height: 100%;
            position: relative;

            @media (max-width: 992px) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }

            &::after {
                position: absolute;
                content: "";
                background-color: $primary;
                width: 50%;
                height: 50%;
                border-radius: 12px;
                right: -0.9rem;
                bottom: -0.9rem;
                z-index: -1;
            }
        }

        .img-div.left{
            &::after {
                right: inherit;
                left: -0.9rem;
                right: inherit;
                bottom: -0.9rem;
            }
        }
    }
}

// Services list
.services-list {
    .flex {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        @media (max-width: 1400px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .service {
            border: 2px solid #949494;
            border-radius: 14px;
            padding: 1rem 0.6rem;
            position: relative;

            .alphabet-div {
                background-color: $primary;
                width: 3rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                border-radius: 50%;
                border-top-right-radius: 14px;
                position: absolute;
                top: -1px;
                right: -1px;

                p {
                    font-size: 22px;
                    font-weight: 600;
                }
            }

            .icon-div {
                margin: 0 auto 1rem;
                width: 5.5rem;
                height: 5.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 2px solid #afafaf;

                .icon {
                    width: 70%;
                    height: 70%;
                }
            }

            .service-header {
                text-align: center;
                font-size: 20px;
                font-weight: 600;
            }

            .service-info {
                text-align: center;
                font-size: 16px;
            }

            .btn {
                margin-top: 1rem;
                width: 100%;
                text-align: center;
                padding: 8px 0;
            }

            .buttons {
                gap: 0.5rem;

                @media (max-width: 300px) {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

// Ful CTA
.full-cta {
    position: relative;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 0;

        .img-side {
            width: 50%;
            max-height: 25rem;

            @media (max-width: 992px) {
                width: 0%;
            }

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .text-side {
            width: 50%;
            padding: 5rem 2rem;
            background-color: #c40404e5;
            position: relative;

            @media (max-width: 992px) {
                width: 100%;
                background-color: #c40404d0;
            }

            h4 {
                font-weight: 600;
                color: $white;

                @media (max-width: 992px) {
                    text-align: center;
                }
            }

            .btn {
                padding: 8px auto;
            }
        }
    }
}

// About Us
.two-col-info {
    overflow: visible !important;

    .flex {
        display: flex;
        justify-content: center;
        // align-items: center;
        gap: 2rem;

        @media (max-width: 992px) {
            flex-direction: column;
            row-gap: 4.5rem;
        }

        .info-div {
            flex: 1;
            width: 45%;
            flex: 1;

            @media (max-width: 992px) {
                width: 100%;
                flex: inherit;
            }

            .title {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 16px;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                list-style-type: none;
                padding-left: 0;

                @media (max-width: 430px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            li::before {
                content: "\f058";
                color: $primary;
                font-size: 1.4rem;
                font-family: "Font Awesome 5 Free";
                padding: 0 6px 0 0;
            }
        }

        .img-div {
            width: 45%;
            flex: 1;
            position: relative;

            @media (max-width: 992px) {
                width: 100%;
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }

            .main-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }

            .add-on-info {
                background-color: $white;
                width: fit-content;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                border-radius: 12px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                padding: 0.5rem 1rem;
                position: absolute;
                z-index: 2;
                bottom: -2rem;
                left: 50%;
                transform: translateX(-50%);

                .big-text {
                    font-size: 3rem;
                    font-weight: 600;
                    color: $secondary;
                }

                .small-text {
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 0px;
                }

                .medium-text {
                    font-size: 1.8rem;
                    font-weight: 500;
                }
            }
        }

    }
}

// Resources
.resources {
    .flex {
        display: flex;
        padding: 2rem 0;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }

        .resource {
            padding: 1rem;
            border-radius: 14px;
            box-shadow: 0 3px 20px rgba(0, 0, 0, .1);

            .img-div {
                margin-bottom: 1rem;
                max-height: 20rem;
                width: 100%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 12px;
                    object-fit: cover;
                }
            }

            .info-div {
                .title {
                    font-size: 22px;
                    font-weight: 600;
                    min-height: 3.3rem;
                }
            }
        }

        .buttons-flex {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: 450px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

// Services
.services {
    color: $white;

    .services-description {
        width: 25%;

        @media (max-width: 992px) {
            width: 100%;
        }
    }

    .services-row {
        width: 73%;

        @media (max-width: 992px) {
            width: 100%;
            margin-top: 1.5rem;
        }

        .service {
            margin: 0 1rem;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                .hidden-info {

                    p,
                    a {
                        display: block;
                    }
                }

                .img-div {
                    img {
                        width: 100%;
                        min-height: 25rem;
                        object-fit: cover;
                        filter: brightness(20%);
                    }
                }
            }

            .hidden-info {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                left: 50%;
                z-index: 1;
                color: $white;
                width: 100%;

                h3 {
                    text-align: center;
                    font-size: 30px;
                    text-shadow: black 0.1em 0.1em 0.2em;
                }

                p {
                    display: none;
                    text-align: center;
                    width: 95%;
                }

                a {
                    display: none;
                    text-align: center;
                    color: $white;
                    background-color: $secondary;
                    padding: 8px 16px;
                    width: fit-content;
                    margin: 0 auto;
                    margin-top: 0.7rem;
                    border-radius: 8px;
                }
            }

            .img-div {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    min-height: 25rem;
                    object-fit: cover;
                    filter: brightness(70%);
                }
            }
        }
    }
}

// Service Areas
.service-areas {
    padding: 3rem 0;

    .container {
        background-color: $dark;
        padding: 2rem;
        border-radius: 12px;
    }

    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-fit: cover;
        filter: brightness(30%);
    }

    .cities {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        column-gap: 1rem;
        margin-top: 2rem;
        list-style-type: circle;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 400px) {
            grid-template-columns: repeat(1, 1fr);
        }

        li {
            padding-bottom: 0.5rem;
            font-weight: 500;
            width: fit-content;
            margin: 0 auto;
            color: $white;

            a {
                font-size: 18px;
                color: $white;
            }
        }
    }
}

// Services Summary

.services-summary {
    .process {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 3rem;
        width: 50%;

        @media (max-width: 992px) {
            width: 100%;
        }

        @media (max-width: 576px) {
            flex-direction: column;
            align-items: start;
        }

        .number {
            border: 4px solid $secondary;
            border-radius: 50%;
            // width: 5rem !important;
            // height: 5rem;

            margin-right: 4rem;

            @media (max-width: 576px) {
                margin-right: 0rem;
                margin-bottom: 1rem;
            }

            h2 {
                width: 5rem !important;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .process-info {
            h2 {
                font-size: 30px;
                font-weight: 600;
                color: #30281b;
                padding-bottom: 1rem;
            }

            p {
                font-size: 20px;
                font-weight: 500;
                color: #362d1e;

                @media (max-width: 576px) {
                    text-align: center;
                }
            }
        }
    }
}

// Call to Action
.cta {
    position: relative;
    padding: 5rem 0;

    &::after {
        content: "";
        background-color: rgb(0, 0, 0, 0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        z-index: -3;
    }

    h4 {
        font-size: 28px;
        font-weight: 600;
        position: relative;
        color: $white;
        z-index: 2 !important;
    }
}

// Appointment
.appointment {
    form {
        background-color: $white;
        padding: 2rem 1.5rem;
        border-radius: 12px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        margin: 2rem 0;

        .flex {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

// Before-After
.flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .img-div {
        width: 100%;

        img {
            width: 100%;
            height: 35rem;
            object-fit: cover;

            @media (max-width: 768px) {
                height: 20rem;
            }

            @media (max-width: 576px) {
                height: 25rem;
            }
        }
    }
}

// Footer

footer {
    .logo {
        max-width: 20rem;
        width: 100%;
        border-radius: 12px;
    }

    .footer-col {
        @media only screen and (max-width: 1000px) {
            text-align: left;
        }

        a {
            color: #5e5d5d;
        }

        .text-info {
            p {
                margin-bottom: 0.5rem;

                a {
                    line-height: 25px;
                }
            }
        }
    }

}

// Single Testimonials
.single-tesimonial {
    background-color: #fcf9e7;

    .testimonial {
        padding: 4rem 0;

        .img-div {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            .quote {
                width: 8rem;
                margin: 0 auto;
            }
        }

        .message {
            font-size: 17px;
            font-weight: 500;
            color: $info;
            margin-bottom: 2rem
        }

        .name {
            font-size: 17px;
            font-weight: 500;
            color: $info;
        }
    }
}

// Contact
.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        text-align: center;

        i {
            font-size: 60px;
            color: $secondary;
            ;
            background-color: $creamWhite;
            padding: 2rem;
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        h6 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
        }
    }
}

.no-border-btn {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin-top: -0.6rem;
    background-color: rgb(0, 0, 0, 0.1);
}

.flex-opposite {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-direction: column-reverse;
    }

    .img-div {
        width: 40%;
        position: relative;

        @media (max-width: 1200px) {
            width: 48%;
        }

        @media (max-width: 992px) {
            width: 100%;
            margin-top: 5rem;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $primary;
            right: -5%;
            top: -5%;
            z-index: -1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info-div {
        width: 58%;

        @media (max-width: 1200px) {
            width: 48%;
        }

        @media (max-width: 992px) {
            width: 100%;
        }

        p {
            font-size: 17px;
            font-weight: 500;
        }
    }
}